$primary-font: 'Heebo', sans-serif;
$fs-big: 4rem;
$fs-med: 2rem;
$fs-small: 12px;
$fw-bold: 800;
$fw-medbold: 600;
$fw-lightbold: 400;
// colors
$clr-primary: #FFFFFF;
$clr-secondry: #1A1A1AD4;
$clr-third: #D31C75;

// media quary
$breakpoint-phone: 480px;








